.button {
  background-image: none;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &-block {
    display: block;
    width: 100%;
  }

  &-default {
    background-color: #fff;

    &,
    &:active,
    &:focus,
    &:hover {
      color: $color-text-dark-secondary;
      font-weight: bold;
    }
  }

  &-danger,
  &-info,
  &-primary,
  &-warning {
    &,
    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }

    &:disabled,
    &.disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }

  &-danger {
    background-color: #f44336;
  }

  &-embedded {
    box-shadow: none;
    font-weight: bold;

    &,
    &:active,
    &:focus,
    &:hover {
      color: $color-text-dark-secondary;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: $color-text-dark-primary;
    }
  }

  &-info {
    background-color: #00bcd4;
  }

  &-large {
    font-size: 17px;
    line-height: 1.3333333;
    padding: 10px 16px;
  }

  &-primary {
    background-color: #2196f3;
  }

  &-warning {
    background-color: #ff9800;
  }
}
