.table {
  width: 100%;

  td,
  th {
    border-top: 1px solid #f5f5f5;
    font-size: 90%;
    padding: 16px;
    vertical-align: top;
    text-align: left;

    &:first-child {
      padding-left: 24px;
    }

    &:last-child {
      padding-right: 24px;
    }
  }

  &-condensed {
    td,
    th {
      padding: 8px;
    }
  }
}
